body {
  color: rgb(12 100 120);
  background: #f3f7f7;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 3em;
  background: #bfdce3; /*#e0ecf1*/
}

nav {
  background-color: #dddddd;
  height: 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-style: italic;
  font-size: 30px;
}

#logo-img {
  background-color: transparent;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out;
  z-index: 1;
}

#logo-img:hover {
  border: 2px solid rgba(0, 0, 0, 0.60);
}

#logo-img:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0%;
  width: 0%;
  border: 2px solid #000;
  transition: height 3s ease-in-out, width 3s ease-in-out;
  z-index: 0;
}

#logo-img:hover:before {
  height: 100%;
  width: 100%;
  top: -100%;
  transition: height 3s ease-in-out, width 3s ease-in-out;
}
nav a {
  font-size: 1.5rem;
  color: #0a0a0a;
  font-weight: 400;
}

header a {
  padding: 0 10px;
  text-decoration: none;
}

footer {
  background-color: #bfdce3; /*#7d7e7e*/ /*#e0ecf1*/
  color: black;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}


section {
  margin-bottom: 100px;
}

#home {
  margin-top: 200px;
}

#home img {
  display: block;
  margin: auto;
  height: 30%;
  width: 30%;
  background-color: transparent;
}

#home h2,
#home h3 {
  font-style: italic;
  font-size: 27px;
  color: rgb(12 100 120);
  text-align: center;
}

.underline-animation {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.underline-animation:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto; /* Change to 0 for underline to start from left to right */
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.1s ease-in-out;
}

.underline-animation:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}